<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/awhileS.css">

</head>
<body>
<!--导航头-->
<header  class="head nav-position">
    <div class="big">
        <div class="out clear">
            <div class="nav-left left">
                <a href="#">首页</a>
                <a href="#">阅读</a>
                <a href="#">电台</a>
                <a href="#">碎片</a>
                <a href="#">客户端</a>
            </div>

            <div class="nav-right right">
                    <div class="digest">
                        <span>登录 &nbsp;/&nbsp;注册</span>
                    </div>
            </div>
        </div>
    </div>
</header>
<div style="height:195px; background-color:#FAFAFA ">

</div>
<!--中间主体-->
<div class="head" style="background-color: #FAFAFA">
    <!--大图部分-->
    <div class="big">

        <div class="PicOut clear">
            <div class="left">
                <div class="pic">
                    <a href="#">
                        <img width="100%" height="480px" src="../images/02.jpg" alt="">
                    </a>
                    <div class="picText">
                        <div class="line">

                        </div>
                        <div style="color: white">
                            这样锻炼,你才会掌握说话
                        </div>
                    </div>
                </div>
            </div>
            <div class="left" style="overflow: hidden;height: 240px;">
                <a href="#">
                    <img width="220px" height="240px"  src="../images/04.jpg" alt="">
                </a>
            </div>
            <div class="left" style="overflow: hidden;height: 240px;">
                <a href="#">
                    <img width="220px" height="240px"  src="../images/03.jpg" alt="">
                </a>

            </div>
            <div class="left" style="overflow: hidden ;height: 240px;">
                <a href="#">
                    <img width="220px" height="240px"  src="../images/11.jpg" alt="">
                </a>

            </div>
            <div class="left" style="overflow: hidden;height: 240px;">
                <a href="#">
                    <img width="220px" height="240px"  src="../images/09.jpg" alt="">
                </a>
            </div>


        </div>


    </div>
    <!--阅读-->
    <div class="big">
        <div class="out">
            <div class="headS">
                <img src="../images/square.png" style="vertical-align: top" alt="">
                <span>阅读&nbsp;|&nbsp;Read</span>
            </div>
            <!--礼物-->
            <div class="clear textAll" >
                <div class="left " style="width: 70%">
                    <div>
                        <a href="#">礼物</a>
                    </div>
                    <div style="font-size: 14px;">
                        By &nbsp;/&nbsp;Whale小诺
                    </div>
                    <div class="line1">

                    </div>
                    <div style="font-size: 14px;">
                        “唯有爱是这世界最好的礼物❤。” 1 林雪颜从便利店走出来时，整条街的霓虹都在我眼里晕成了一个个彩色的光点，我扔掉了伞，淋着雨，一步步坚定的向她走<a href="#">VIEW ALL</a>
                    </div>
                    <div style="margin-top: 20px;font-size: 14px;">
                        <span>310次阅读 &nbsp; | &nbsp; 评论:5 &nbsp; | &nbsp; 喜欢:15</span>
                    </div>
                </div>
                <div class="left" style="width: 30%;height: 100%;">
                    <img src="../images/4.jpg" width="100%" height="100%" alt="">
                </div>
            </div>
            <!--三道记忆力测试题-->
            <div class="clear textAll" >
                <div class="left " style="width: 70%">
                    <div>
                        <a href="#">三道记忆力测试题</a>
                    </div>
                    <div style="font-size: 14px;">
                        By &nbsp;/&nbsp;阿帆哒
                    </div>
                    <div class="line1">

                    </div>
                    <div style="font-size: 14px;">
                        此篇为：《六年前的一桩诡异凶杀案9：记忆大师》 侦探大象人设：嗅觉超人 哑巴常理先将绳子系在十米高的树干上，在脖子套绳圈，往下跳，自身重力把颈椎扯断<a href="#">VIEW ALL</a>
                    </div>
                    <div style="margin-top: 20px;font-size: 14px;">
                        <span>310次阅读 &nbsp; | &nbsp; 评论:5 &nbsp; | &nbsp; 喜欢:15</span>
                    </div>
                </div>
                <div class="left" style="width: 30%;height: 100%;">
                    <img src="../images/05.jpeg" width="100%" height="100%" alt="">
                </div>
            </div>
            <!--当我谈跑步时，我在谈爱情-->
            <div class="clear textAll" >
                <div class="left " style="width: 70%">
                    <div>
                        <a href="#">当我谈跑步时，我在谈爱情</a>
                    </div>
                    <div style="font-size: 14px;">
                        By &nbsp;/&nbsp;阿帆哒
                    </div>
                    <div class="line1">

                    </div>
                    <div style="font-size: 14px;">
                        此篇为：《六年前的一桩诡异凶杀案9：记忆大师》 侦探大象人设：嗅觉超人 哑巴常理先将绳子系在十米高的树干上，在脖子套绳圈，往下跳，自身重力把颈椎扯断<a href="#">VIEW ALL</a>
                    </div>
                    <div style="margin-top: 20px;font-size: 14px;">
                        <span>310次阅读 &nbsp; | &nbsp; 评论:5 &nbsp; | &nbsp; 喜欢:15</span>
                    </div>
                </div>
                <div class="left" style="width: 30%;height: 100%;">
                    <img src="../images/06.gif" width="100%" height="100%" alt="">
                </div>
            </div>

            <!--TING-->
            <div class="headS">
                <img src="../images/square.png" style="vertical-align: top" alt="">
                <span>TING</span>
            </div>
            <div style="width: 900px; margin: 0 auto;">
                <div class="outPIC">
                    <div style="position: relative">
                        <img src="../images/10.jpg" width="260px" height="260px" alt="">
                        <div class="mask">
                            <img src="../images/bofang.png" alt="">
                        </div>
                    </div>
                    <div>
                        <a href="#">爱在日落黄昏后</a>
                        <br>
                        <a href="3">主播 &nbsp;/ &nbsp;阿见</a>
                        <br>
                        <span>7.2 k次播放 &nbsp; |  &nbsp;评论:8 &nbsp; |&nbsp;  喜欢:71</span>
                    </div>

                </div>
                <div class="outPIC">
                    <div style="position: relative">
                        <img src="../images/07.jpg"width="260px" height="260px" alt="">
                        <div class="mask">
                            <img src="../images/bofang.png" alt="">
                        </div>
                    </div>
                    <div>
                        <a href="#">他不爱我</a>
                        <br>
                        <a href="3">主播 &nbsp;/ &nbsp;NJ文珂</a>
                        <br>
                        <span>7.2 k次播放 &nbsp; |  &nbsp;评论:8 &nbsp; |&nbsp;  喜欢:71</span>
                    </div>
                </div>
                <div class="outPIC">
                    <div style="position: relative">
                        <img src="../images/08.jpg" width="260px" height="260px" alt="">
                        <div class="mask">
                            <img src="../images/bofang.png" alt="">
                        </div>
                    </div>
                    <div>
                        <a href="#">遇见</a>
                        <br>
                        <a href="3">主播 &nbsp;/ &nbsp;乐文希</a>
                        <br>
                        <span>7.2 k次播放 &nbsp; |  &nbsp;评论:8 &nbsp; |&nbsp;  喜欢:71</span>
                    </div>
                </div>

            </div>
            <!--人气片客-->
            <div class="headS">
                <img src="../images/square.png" style="vertical-align: top" alt="">
                <span>人气片客 &nbsp;|&nbsp; Hot Pianker</span>
            </div>
            <div style="width: 920px; margin: 0 auto;">
                <div class="userBg clear">
                    <div class="left">
                        <div>
                            <img src="../images/12.jpg" alt=""><br>
                        </div>
                        <div style="margin-left: 28px; margin-top: 5px;">
                            <img width="50" height="18" src="../images/user_musician.jpg" alt="">
                        </div>
                    </div>

                    <div class="left">
                        <a href="#">王睿 Ray</a><br>
                        <span></span><br>
                        <span>流行歌手王睿</span>
                    </div>

                </div>

                <div class="userBg clear">
                    <div class="left">
                        <div>
                            <img src="../images/13.jpeg" alt=""><br>
                        </div>
                        <div style="margin-left: 28px; margin-top: 5px;">
                            <img width="50" height="18" src="../images/user_musician.jpg" alt="">
                        </div>
                    </div>

                    <div class="left">
                        <a href="#">陆深兽</a><br>
                        <span></span><br>
                        <span>片刻翻唱达人</span>
                    </div>

                </div>

                <div class="userBg clear">
                    <div class="left">
                        <div>
                            <img src="../images/12.jpg" alt=""><br>
                        </div>
                        <div style="margin-left: 28px; margin-top: 5px;">
                            <img width="50" height="18" src="../images/user_musician.jpg" alt="">
                        </div>
                    </div>

                    <div class="left">
                        <a href="#">王睿 Ray</a><br>
                        <span></span><br>
                        <span>流行歌手王睿</span>
                    </div>

                </div>

                <div class="userBg clear">
                    <div class="left">
                        <div>
                            <img src="../images/14.jpeg" alt=""><br>
                        </div>
                        <div style="margin-left: 28px; margin-top: 5px;">
                            <img width="50" height="18" src="../images/user_musician.jpg" alt="">
                        </div>
                    </div>

                    <div class="left">
                        <a href="#">贤菌</a><br>
                        <span></span><br>
                        <span>靠脸吃饭</span>
                    </div>

                </div>
                
            </div>

        </div>
    </div>









</div>
<!--尾部-->
<div class="head footer">
    <div class="big">
        <div class="out clear">
            <div class="logo left">
                <a href="#">关于我们</a> &nbsp;
                <a href="#">友情链接</a>&nbsp;
                <a href="#">片刻帮助</a>&nbsp;
                <a href="#">意见反馈</a>&nbsp;
                <a href="#">成长记忆</a>
                <br>
                <span>All rights reserved © 2016 pianke.me /蜀ICP备12022689号-1</span>
            </div>
            <div style="margin-top: 40px; vertical-align: middle" class="right">
                <img src="../images/foot-app.png" width="45" height="45" alt="">
                <img src="../images/foot-sina.png" width="45" height="45" alt="">
                <img src="../images/foot-wechat.png" width="45" height="45" alt="">
                <img style="margin-bottom: 15px; margin-left: 40px;" src="../images/foot-safe.png" width="70" height="25" alt="">
            </div>
        </div>
    </div>
</div>

<script src="../public/javascripts/jquery-1.11.2.min.js"></script>
<script src="../public/javascripts/awhileJ.js"></script>
<script>
    document.onmousewheel = function(e){

        var e = e || window.event;
        console.log(e.wheelDelta);
        if(e.wheelDelta > 0){
            $(".nav-position").slideDown("slow");
        } else {
            $(".nav-position").slideUp("slow");
        }
    }
    

    
</script>
</body>
</html>